main {
  padding: 2rem 10rem;
}

.comment-container {
  background-color: rgb(8, 8, 8, 0.2);
  padding: 1rem 1.2rem;
  min-height: 10rem;
}
.comment-main {
  background-color: #161616;
  overflow-y: hidden;
}
.reply-main {
  padding-inline-start: 3em;
}
