@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-dark: #fff;
  --color-background-dark: #161616;
  --color-light: #000;
  --color-background-light: rgb(237, 237, 237);
  --nav-background-dark: #080808;
  --nav-background-light: #fff;
  --button-hover-color-light: #0002;
  --button-hover-color-dark: #fff1;
  --link-hover-background-light: #0001;
  --link-hover-background-dark: rgba(211, 211, 211, 0.155);
  --card-background: #d4d4d4;
  --dropdown-background-light: #f1f1f1;
  --dropdown-background-dark: #202020;
}

:root {
  --color-text: var(--color-light);
  --color-background: var(--color-background-light);
  --nav-background: var(--nav-background-light);
  --button-hover-color: var(--button-hover-color-light);
  --link-hover-background: var(--link-hover-background-light);
  --link-color: #5f9ea0;
  --dropdown-background: var(--dropdown-background-light);
  --accent-color: var(--link-color);
}

html.dark {
  --color-text: var(--color-dark);
  --color-background: var(--color-background-dark);
  --nav-background: var(--nav-background-dark);
  --button-hover-color: var(--button-hover-color-dark);
  --link-hover-background: var(--link-hover-background-dark);
  --card-background: #121212;
  --dropdown-background: var(--dropdown-background-dark);
}

/* @media screen and (prefers-color-scheme: dark) {
  html:not(.dark) {
    --color-text: var(--color-dark);
    --color-background: var(--color-background-dark);
    --nav-background: var(--nav-background-dark);
    --button-hover-color: var(--button-hover-color-dark);
    --link-hover-background:var(--link-hover-background-dark);
    --card-background:#121212;
    --dropdown-background: var(--dropdown-background-dark);
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
  transition: background 200ms;
}

a {
  color: var(--link-color);
  padding: 0.3rem;
  border-radius: 0.4rem;
  text-decoration: none;
}
a:hover {
  background: var(--link-hover-background);
}

button {
  cursor: pointer;
}
input{
  accent-color: var(--accent-color);
}
.link {
  color: var(--link-color);
  cursor: pointer;
  margin-inline-end: 1rem;
}
.link:hover {
  background-color: var(--link-hover-background);
}
.userIcon {
  box-shadow: 0 0 8px grey;
}
